<html>

</html>
<script>

  var metodo = "obtener_datos";	
  var base1 = "https://api.valida-curp.com.mx/curp/";
  var base2 = "/?token=pruebas&curp=";
  var curp = "AAOR000705HNTNLBA9";

  var url = base1 + metodo + base2 + curp;
  
  console.log(url);
	
  fetch(url)
  .then(response => response.json())
  .then(data => {
    // Aquí puedes trabajar con los datos obtenidos
    console.log(data);
  })
  .catch(error => {
    // Aquí manejas el error
    console.error('Error:', error);
  });
	
</script>